<!DOCTYPE html>
<html>
<head>
    <title>Hello World!</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>This server is called ${server_name}</p>
    <p>This server's private IP is ${server_ip}</p>
</body>
</html>
